@model ProgettoProva.web.Models.Film.FilmViewModel

@{
    List<SelectListItem> genreList = (List<SelectListItem>)ViewData["GenreListItems"];
    //List<SelectListItem> genreList = new List<SelectListItem>()
    //{
    //    new SelectListItem() {Value = "AZIONE", Text = "Azione"},
    //    new SelectListItem() {Value = "AVVENTURA", Text = "Avventura"},
    //    new SelectListItem() {Value = "ROMANTICO", Text = "Romantico"}
    //};
}
@*<form method="post">*@
    <div class="mb-3">
        @Html.LabelFor(m => m.Title, "Titolo")
        @Html.TextBoxFor(m => m.Title,  new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.ReleaseDate, "Data di uscita")
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date"})
        @Html.ValidationMessageFor(m => m.ReleaseDate, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.Director, "Regista")
        @Html.TextBoxFor(m => m.Director, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Director, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.Producer, "Produttore")
        @Html.TextBoxFor(m => m.Producer, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Producer, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.GenreId, "Genere")
        @Html.DropDownListFor(m => m.GenreId, genreList, "-- Seleziona --", new { @class = "form-select text-center"})
        @Html.ValidationMessageFor(m => m.GenreId, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Cast)
        <div id="castList">
            @for (int i = 0; i < Model.Cast.Count; i++) {
                @Html.TextBoxFor(m => m.Cast[i], new { @class = "form-control mb-2" })
            }
        </div>
        <button type="button" id="btnAddCast" class="btn btn-sm btn-outline-secondary">Aggiunti attore</button>
        <button type="button" id="btnRemoveCast" class="btn btn-sm btn-danger">Cancella ultimo attore</button>
        @Html.ValidationMessageFor(m => m.Cast, "", new { @class = "text-danger"})
    </div>

    @*<button type="submit" class="btn btn-primary">Crea</button>
    <button type="submit" class="btn btn-primary" name="AddAnother" value="1">Crea e aggiungi un altro</button>
</form>*@
